.search-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.search-modal {
  margin-top: 4.5rem;
  background-color: #2c2c2c;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 80%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-modal input {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  padding-left: 1.9rem;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  background-color: #363636;
  color: white;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px 4px 2px 2px;
}

.search-modal input::placeholder {
  font-style: italic;
  font-size: 1rem;
}

.search-modal input:focus {
  border-bottom: 1px solid #b31312;
}

.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 8px;
  transform: translateY(-50%);
  color: #999;
  align-items: center;
}

/*========== Media Queries tablet/mobile ==========*/
@media (max-width: 810px) {
  .search-modal {
    width: 90%;
    padding: 1rem;
  }

  .search-modal input::placeholder {
    font-style: italic;
    font-size: 0.9rem;
  }
}
