.outerDiv {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  max-width: 380px;
}

.image {
  max-width: 100%;
  height: auto;
}

.titleContainer {
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  max-width: inherit;
  width: 100%;
  color: white;
  font-size: 16px;
}

.movieTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieYear {
}
