.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.goBackButton {
  color: white;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.arrow-icon {
  margin-right: 1rem;
}

.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.8rem;
  padding: 8rem;
  color: white;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.category-container:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
}
.category-item {
  padding: 0.5rem;
}

.category-icon {
  height: 48px;
  margin-bottom: 1rem;
}

/* Tablet */
@media (max-width: 800px) {
  .categories-wrapper {
    grid-template-columns: repeat(4, 1fr);
    font-size: 18px;
  }

  .category-icon {
    height: 55px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .categories-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .category-icon {
    height: 50px;
  }
}
