.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  color: white;
  padding: 8rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.category-item {
  padding: 1rem;
}

.category-icon {
  height: 65px;
}
