.bookmark-container {
  padding: 5rem;
  color: white;
}

.movie-item {
  display: flex;
  flex-direction: column;
  width: 25rem;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.bookmark-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* ANIMATIONS */
@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* MEDIA QUERIES */
/* Tablet */
@media (max-width: 1300px) {
  .bookmark-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 900px) {
  .bookmark-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
