.carousel-container {
  max-width: 1200px;
  padding: 0;

  @media (max-width: 800px) {
    padding: 0;
  }
}

.mantine-Carousel-container {
  max-width: 1200px;
  padding: 0;

  @media (max-width: 800px) {
    padding: 0;
  }
}

.mantine-Carousel-viewport {
  margin: 0;
  padding: 0;
  position: relative;
}

.mantine-Carousel-slide {
  display: inline-flex;

  .overlay {
    bottom: 0;
    left: 0;
  }
}
.mantine-Carousel-slide img {
  width: 100%;
  aspect-ratio: 217.35 / 320;
  object-fit: cover;
}

.mantine-Carousel-control {
  box-shadow: none;
  color: #bc1919;
}
