.carouselContainer {
  padding: 0 16px;
}

.carouselContainer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}



@media (max-width: 800px) {
  .carouselContainer {
    /* padding: 0; */
  }
}

.mantine-Carousel-container {
  padding: 0;
}

@media (max-width: 800px) {
  .mantine-Carousel-container {
    padding: 0;
  }
}

.mantine-Carousel-viewport {
  margin: 0;
  padding: 0;
  position: relative;
}

.mantine-Carousel-slide {
}

.mantine-Carousel-slide .overlay {
  bottom: 0;
  left: 0;
}

.mantine-Carousel-slide img {
  width: 10%;
}

.mantine-Carousel-control {
  box-shadow: none;
  
}
