.carouselContainer {
  padding: 0 16px;
  margin: 3rem;
}

.carouselContainer h1 {
  font-size: 2rem;
}

@media (max-width: 800px) {
  .mantine-Carousel-container {
    padding: 0;
  }
}

.mantine-Carousel-viewport {
  margin: 0;
  padding: 0;
}

/* .mantine-Carousel-slide {
} */

.mantine-Carousel-slide img {
  width: 10%;
}

.mantine-Carousel-control {
  box-shadow: none;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}
.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.arrowIcon {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  position: relative;
  
}
