/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  color: white;
}

body {
  background-color: rgb(34, 34, 34);
}

h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 1rem;
}

button {
  background-color: transparent;
  border: none;
}

@media (max-width: 475px) {
  h2 {
    font-size: 40px;
  }
}

/* Global classes */

.section {
  margin: 0 1rem;
}

.nav-padding {
  padding-top: 4rem;
}
